* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  transition: all 0.5s ease;
}

body {
  font-family: "Brush Script MT",  Cursive;
  background-color: black;
}


a {
  text-decoration: none;
  color: #fff;
}



.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.calculator {
  position: relative;
  height: auto;
  width: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 40px #000;
}

.table{
  text-align: center;
  color: #d17624;
}

#display {
  margin: 0 10px;
  height: 150px;
  width: auto;
  max-width: 270px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 30px;
  margin-bottom: 20px;
  overflow-x: scroll;
}

#display::-webkit-scrollbar {
  display: block;
  height: 3px;
}

button {
  height: 60px;
  width: 60px;
  border: 0;
  border-radius: 30px;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: all 200ms ease;
}

button:hover {
  transform: scale(1.2);
}

button#equal {
  height: 130px;
}


.calculator.dark {
  background-color: #f8fafb1f;
}

.calculator.dark #display {
  color: #f8fafb;
}

.calculator.dark button#clear {
  background-color: #0f0c29b5;;
  color: #d17624;
}

.calculator.dark button.btn-number {
  background-color: #1b2f38;
  color: #f8fafb;
}

.calculator.dark button.btn-operator {
  background-color: #0f0c29b5;
  color: #d17624;
}

.calculator.dark button.btn-equal {
  background-color:#0f0c29b5;;
  color: #ffffff;
}
body{
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}